<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<FilesMatch "^(service-account\.json|\.htaccess)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
